@use "../config//variables" as var;
@import url("https://fonts.googleapis.com/css2?family=Yuji+Mai&display=swap");
$own-text: var.$primary;
$own-bg: var.$font-color;
$partner-text: var.$secondary;
$partner-bg: var.$primary;

.message {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  max-width: 50%;
  @media screen and (max-width: 800px) {
    max-width: 100%;
  }
}

.bubble {
  padding: 15px;
  // border-radius: 12px;
  position: relative;
  font-size: 0.85rem;
  // font-family: var(--font-caveat), "Yuji Mai", serif;
  font-family: so-lovely, "Yuji Mai", serif;
  @media screen and (max-width: 600px) {
    font-size: 0.68rem;
  }
}

.own {
  text-align: right;
  margin-left: auto;
  &.message {
    justify-content: flex-end;
  }
  & .bubble {
    background-color: $own-bg;
    text-align: left;
    color: $own-text;
    &::before {
      content: "";
      position: absolute;
      top: 5px;
      right: -4px;
      width: 0;
      height: 0;
      border: solid 10px;
      transform: rotate(20deg);
      border-color: $own-bg $own-bg transparent transparent;
    }
  }
  & .text {
    display: flex;
    flex-direction: row-reverse;
  }
  & .chatImage {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    gap: 15px;
    padding: 1em 0;
    justify-content: flex-start;
    & .time {
      margin: 0;
    }
  }
}

.partner {
  text-align: left;
  & .bubble {
    background-color: $partner-bg;
    color: $partner-text;
    margin-top: 0;
    margin-left: 60px;
    &::before {
      content: "";
      position: absolute;
      top: 4px;
      left: -3px;
      width: 0;
      height: 0;
      border: solid 10px;
      transform: rotate(-13deg);
      border-color: $partner-bg transparent transparent $partner-bg;
    }
  }
  & .text {
    display: flex;
  }
}

.text {
  display: flex;
  align-items: flex-end;
  gap: 15px;
  @media screen and (max-width: 600px) {
    gap: 8px;
  }
}

.profile {
  display: flex;
  gap: 20px;
  align-items: center;
  & p {
    margin: 0;
    font-size: 0.85rem;
    @media screen and (max-width: 600px) {
      font-size: 0.75rem;
    }
  }
}

.time {
  font-size: 0.6rem;
  @media screen and (max-width: 600px) {
    font-size: 0.5rem;
  }
}

.info {
  font-size: 0.8rem;
  text-align: center;
}

.chatImage {
  height: 180px;
  & img {
    max-width: 100%;
    width: 260px;
    height: 100%;
  }
  @media screen and (max-width: 800px) {
    height: 140px;
    & img {
      width: 200px;
    }
  }
}
