@use "../config/variables" as var;
@import url("https://fonts.googleapis.com/css2?family=Yuji+Mai&display=swap");
.input {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 10px;
  max-width: 100%;
  width: 500px;
  // font-family: var(--font-caveat), "Yuji Mai", serif;
  font-family: so-lovely, "Yuji Mai", serif;
  & input {
    height: 52px;
    background-color: var.$font-color;
    color: var.$primary;
    padding: 0 10px;
    border: 5px solid var.$font-color;
    // border-radius: 6px;
    // font-family: var(--font-caveat), "Yuji Mai", serif;
    font-family: so-lovely, "Yuji Mai", serif;
    &::placeholder {
      // font-family: var(--font-caveat), "Yuji Mai", serif;
      font-family: so-lovely, "Yuji Mai", serif;
    }
    &:focus {
      border: 5px solid var.$primary;
    }
  }
  @media screen and (max-width: 1000px) {
    min-width: 330px;
    width: 100%;
    font-size: 0.8rem;
    & input {
      box-sizing: border-box;
      font-size: 0.8rem;
    }
  }
  @media screen and (max-width: 600px) {
    min-width: 250px;
    font-size: 0.7rem;
    & input {
      box-sizing: border-box;
      font-size: 0.7rem;
    }
  }
}
